/* #EF3752, #14F1FC, #F9AD03, #4B4D4F, #ffffff */
.Instructions {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f9ad03;
  padding: 2%;
  border-radius: inherit;
  border: solid 1px #4b4d4f;
}

.Instructions p {
  font-size: 1.5rem;
}

.Instructions span {
  text-transform: capitalize;
}

.Instructions button {
  background-color: #ef3752;
  width: 150px;
  height: 150px;
  font-size: 2rem;
  border-radius: 180px;
  border: #4b4d4f solid;
}
