/* #EF3752, #14F1FC, #F9AD03, #4B4D4F, #ffffff */
form {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 45%;
  min-width: 270px;
  height: 60%;
  padding: 2%;
  background-color: #14f1fc;
  border-radius: inherit;
}

form * {
  font-size: 1.7rem;
}

form label .login-input {
  margin-left: 1%;
}

form label input {
  padding: 1%;
  border-radius: 5px;
}

form label input::placeholder {
  text-align: center;
}

form select {
  width: 50%;
}

form label {
  width: 90%;
  text-align: center;
  white-space: nowrap;
}

form a {
  width: 175px;
  height: 40px;
}

form button {
  width: 175px;
  height: 40px;
  border-radius: 5px;
  background: #ef3752;
  color: #ffffff;
  align-self: center;
}

form button:hover {
  transform: scale(1.45);
  color: #ef3752;
  background: #ffffff;
}

form button:not(:disabled):hover::after {
  content: "!!!";
}

form button:disabled {
  color: #4b4d4f;
  opacity: 0.7;
  background: #ffffff;
  transform: scale(0.85);
}
