html,
body,
.App,
#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#root {
  background: #4b4d4f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
